<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Welcome Long 2 short </title>
        <!-- <title>Forms Review</title> -->
    </head>
    <body>
        <section id="overlay">
            <section id="header">
            <div >
                <form action="submission.html" method="POST">
                    <h1>Create a shortened URL!</h1>
                    <hr>
            </section>

                </form>
                </br>
                </br>
                <form action="/submission" method="POST">
                    <label for="url">Enter a long URL</label>
                    <br>
                    <input id="url" type="text" name="url" >
                    <br>
                    <Label for="alias"> Custom alias </Label>
                    <br>
                    <br>
                    <tt class="basecontent">https://BorisLongToShort.com/</tt>
                    <input id="alias" type="text" name="alias">
                    <br>
                    <br>
                    <input type="submit" value="Submit">
                </form>

        </div>

        
        </section>
    </body>    	
</html>